*,
*::before,
*::after {
    box-sizing: border-box;
}

.nav-wrapper {
    overflow-x: hidden;
}

/*.nav-wrapper.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
    z-index: 1000;
} */

.navbar {
    background-color: transparent;
    transition: all 0.3s ease;
}

.navbar.active {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
    z-index: 10;
}

.navbar.active .nav-link {
    color: #1a1a1a;
}

nav {
    padding: 24px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
}

a {
    font-family: 'Inter';
    font-weight: 500;
    letter-spacing: -0.23px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.mid-nav {
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: rgba(255, 255, 255, 0.80);
    padding: 8px 16px;
    border-radius: 3px;
    background-color: rgba(41, 11, 0, 0);
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 140%;
    z-index: 20;
}

.nav-link:hover {
    background-color: rgba(41, 11, 0, 0.1);
    backdrop-filter: blur(20px);
}

.nav-contact {
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.6px;
    background-color: rgba(41, 11, 0, 1);
    color: #f8f8f8;
    margin: 0;
    line-height: 140%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-contact:hover {
    background-color: rgba(163, 50, 11, 1);
}

.ss-bttn {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.login {
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.6px;
    background-color: white;
    color: rgba(41, 11, 0, 1);
    margin: 0;
    line-height: 140%;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Dropdown menu styles */
.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 0;
    /* Positions it below the menu item */
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    min-width: 150px;
    padding: 10px 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
}